body {
  overflow-x: hidden;
}

.flex-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  display: flex;
  flex-direction: column;
  height: auto;
}
.left-column {
  background-color: #7cd9e579;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

.left-column p {
  font-size: 1.55em;
  flex-shrink: 1;
}
.left-picture {
  display: flex;
  background-color: pink;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.left-picture img {
  padding: 0.6em;
  margin-bottom: 1em;
}

.flex-right {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 75%;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  height: auto;
}

.menu {
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  margin-left: auto;
  align-items: center;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
}
.flex-head {
  display: flex;
  align-items: center;
  padding: 20px;
  color: powderblue;
}
.flex-a {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  flex-wrap: wrap;
}
.flex-a1 {
  color: wheat;
}
.flex-a1 a {
  color: wheat;
  text-decoration: none;
  margin-left: 25px;
  font-size: 25px;
}
.flex-a a:hover {
  opacity: 0.7;
}
.custom-container {
  background-color: beige;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 99%;
}
.custom-container img {
  max-width: 35%;
  margin: 0 auto;
  padding: 25px;
}
.custom-container h2 {
  margin: 0 auto;
}
.custom-container ul {
  margin: 0 auto;
  padding: 15px;
  font-size: larger;
}

.custom-button {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  margin: 0 auto;
}
.custom-button:hover {
  opacity: 0.5;
}
.footer {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
}

.additional-block {
  color: powderblue;
  margin-right: 20px;
}
