body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.top-container {
  flex: 1;
  display: flex;
  height: auto;
}
.left-column-content {
  width: 20%;
  background-color: #7cd9e579;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.left-column {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.left-column p {
  font-size: 1.38em;
  flex-shrink: 1;
}
.empty-column {
  width: 5%;
}

.right-column-content {
  width: 75%;
  background-color: beige;
  display: flex;
  flex-direction: column;
}
.menu {
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  height: auto;
}

.flex-head {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 20px;
  color: powderblue;
}
.flex-a {
  display: flex;
  width: 60%;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  flex-wrap: wrap;
}
.flex-a1 {
  color: wheat;
}
.flex-a1 a {
  color: wheat;
  text-decoration: none;
  margin-left: 25px;
  font-size: 25px;
}
.flex-a a:hover {
  opacity: 0.7;
}

.rounded-img {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 0.6em;
  margin-bottom: 1em;
}

.custom-container {
  background-color: beige;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.custom-container img {
  max-width: 25%;
}
.custom-container a {
  font-size: 20px;
}
.custom-button {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
}
.custom-button:hover {
  opacity: 0.5;
}

.bottom-container {
  flex: 1;
  display: flex;
  height: auto;
  text-align: center;
}

.footer {
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  height: auto;
  width: 75%;
}
.left-footer {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.right-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  padding: 20px;
  color: powderblue;
}

.left-picture {
  display: flex;
  width: 20%;
  background-color: pink;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.left-picture img {
  max-width: 100%;
  padding: 0.9em;
  margin-bottom: 1em;
}
