body {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 20% 75%;
  grid-column-gap: 5%;
}
.left {
  display: grid;
  grid-auto-rows: minmax(70%, auto);
}
.left-column {
  background-color: #7cd9e579;
  padding: 20px;
}
.left-column h2 {
  margin-top: 1em;
}
.left-column p {
  margin-top: 2em;
  font-size: 1.55em;
  margin-bottom: 2em;
}
.left-picture {
  background-color: pink;
}
.left-picture img {
  max-width: 100%;
  margin-bottom: 2em;
}

.right {
  display: grid;
}
.menu {
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 30% 65%;
  grid-column-gap: 5%;
  grid-auto-rows: minmax(120px, auto);
}
.grid-head {
  display: grid;
  align-items: center;
  padding: 20px;
  color: powderblue;
}
.grid-a {
  display: grid;
  grid-template-columns: repeat(5, 0.1fr);
  padding: 20px;
  justify-content: end;
  align-items: center;
}
.grid-a1 a {
  color: wheat;
  text-decoration: none;
  margin-left: 25px;
  font-size: 25px;
}
.grid-a a:hover {
  opacity: 0.7;
}

.custom-container {
  background-color: beige;
  padding: 5px;
  display: grid;
  justify-content: center;
  align-items: center;
  height: auto;
}
.custom-container img {
  max-width: 55%;
  margin: 0 auto;
  padding: 25px;
}
.custom-container p {
  margin: 0 auto;
  padding: 15px;
  font-size: larger;
}
.custom-container h2 {
  margin: 0 auto;
}
.custom-button {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  margin: 0 auto;
}
.custom-button:hover {
  opacity: 0.5;
}

.footer {
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(150px, auto);

  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.left-footer {
  display: grid;
  align-items: center;
}

.right-footer {
  display: grid;
  align-items: center;
  justify-content: end;
}

.additional-block {
  color: powderblue;
  margin-right: 20px;
}
