body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
}

.column1 {
  width: 20%;
  background-color: #7cd9e579;
  padding: 20px;
}
.column1 p {
  margin-top: 1.9em;
  font-size: 1.38em;
  margin-bottom: 2em;
}
.column2 {
  width: 5%;
}

.column3 {
  width: 75%;
}

.menu-head {
  padding: 20px;
  color: powderblue;
  width: 40%;
}
.menu-a {
  width: 60%;
}
.menu-a a {
  color: wheat;
  text-decoration: none;
  margin-left: 19px;
  font-size: 25px;
  text-align: right;
}
.menu-a a:hover {
  opacity: 0.7;
}
.custom-container {
  background-color: beige;
  padding: 5px;
  align-items: center;
  height: auto;
}
.custom-container img {
  max-width: 55%;
  margin: 0 auto;
  padding: 25px;
}
.custom-container p {
  margin: 0 auto;
  padding: 15px;
  font-size: larger;
}
.custom-container h2 {
  margin: 0 auto;
}

.footer-head {
  color: powderblue;
  width: 40%;
  text-align: right;
}
.footer-contact {
  width: 60%;
  color: white;
}
.left-picture {
  width: 20%;
  background-color: pink;
  justify-content: center;
  height: auto;
  padding: 0;
}
.left-picture img {
  max-width: 100%;
  margin-bottom: 0.7em;
}
